.error-box {
    background-color: #ff00001a;
    max-width: 320px;
    display: flex;
    border-radius: 5px;
    padding: 25px;
    margin: 0 auto;
    color: #ff0000;
    font-size: 14px;
    font-weight: 500;
}
