<footer class="text-center text-white page-footer">
    <!-- Grid container -->
    <div class="p-4 pb-0" style="background-color: #525252">
        <!-- Section: Social media -->
        <section class="mb-2">
            <!-- Twitter -->
            <a class="btn footer-btn" href="https://twitter.com/NakazoneVitor">
                <fa-icon class="input-div-icon"
                         [icon]="_twitterIcon">
                </fa-icon>
            </a>

            <!-- Linkedin -->
            <a class="btn footer-btn" href="https://www.linkedin.com/in/vitor-hideyoshi/" role="button">
                <fa-icon class="input-div-icon"
                         [icon]="_linkedinIcon">
                </fa-icon>
            </a>

            <!-- Github -->
            <a class="btn footer-btn" href="https://github.com/HideyoshiNakazone" role="button">
                <fa-icon class="input-div-icon"
                         [icon]="_githubIcon">
                </fa-icon>
            </a>
        </section>
        <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: #2E2E2E;">
        © 2020 Copyright:
        <a class="text-white" href="https://hideyoshi.com.br/">Hideyoshi Solutions</a>
    </div>
    <!-- Copyright -->
</footer>
