* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.popup-background {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.popup {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #ffffff;
    border: 1px solid #dddd;
    border-radius: 18px;
    height: fit-content;
    max-width: 400px;
    overflow: auto;
    width: 90%;

    position: fixed;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.popup-header {
    justify-content: right;
    align-items: center;
    display: flex;
    height: 60px;
    width: 100%;
}

.popup-close-btn {
    margin: 5px 20px;
    cursor: pointer;
    height: 20px;
    width: 20px;
}
.popup-close-btn::before,
.popup-close-btn::after {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.271);
    background: #808080;
    border-radius: 5px;
    position: fixed;
    content: "";
    width: 25px;
    height: 5px;
}
.popup-close-btn::before {
    transform: translateY(150%) translateX(-10%) rotate(45deg);
}
.popup-close-btn::after {
    transform: translateY(150%) translateX(-10%) rotate(-45deg);
}

.popup-body {
    height: calc(100% - 120px);
    padding: 0px 30px;
    width: 100%;
    margin: 0;
}

.popup-footer {
    height: 60px;
}

@media (min-width: 767px) {
    .popup {
        width: fit-content;
        max-width: unset;
    }
}
