  <div class="card container">
        <div class="card-content">
            <div class="card-content-h">
                <h2 class="card-title">
                    <a [href]="project.link">{{project.name}}</a>
                </h2>
                <p class="card-text">{{project.description}}</p>
            </div>
            <div class="card-content-f row">
                <div class="card-info col-9" *ngIf="hasLanguage">
                    <p >Language: {{project.languages}}</p>
                </div>
                <div class="card-stats" [ngClass]="hasLanguage ? 'col-3' : 'stats-inline'">
                    <div class="stat-item" *ngIf="hasLicense">
                        <div class="stat-icon">
                            <fa-icon [icon]="faLicense"></fa-icon>
                        </div>
                        <span>{{project.license}}</span>
                    </div>
                    <div class="stat-item">
                        <div class="stat-icon">
                            <fa-icon [icon]="faStars"></fa-icon>
                        </div>
                        <span>{{project.stars}}</span>
                    </div>
                    <div class="stat-item">
                        <div class="stat-icon">
                            <fa-icon [icon]="faCodeFork"></fa-icon>
                        </div>
                        <span>{{project.forks}}</span>
                    </div>
                    <div class="stat-item">
                        <div class="stat-icon">
                            <fa-icon [icon]="faEye"></fa-icon>
                        </div>
                        <span>{{project.watchers}}</span>
                    </div>
                </div>
            </div>
        </div>
  </div>
